.relative {
	position: relative;
}

.mt-s {
	margin-top: 20px;
}

.mt-m {
	margin-top: 40px;
}

.mt-l {
	margin-top: 60px;
}

.mt-xl {
	margin-top: 100px;
}

.mb-s {
	margin-bottom: 20px;
}

.mb-m {
	margin-bottom: 40px;
}

.mb-l {
	margin-bottom: 60px;
}

.mb-xl {
	margin-bottom: 100px;
}
