// colors
$color-white: #eee;
// $color-text: #171717;
$color-text: #282828;
$color-text-dark: #212121;
$color-black: #000;
$color-bg: #e4eff8;
$color-brand-dark: #21173c;
$color-brand-light: #32ccfe;
$color-edit: #259049;

//font-family: 'Montserrat', sans-serif; - titles, w - 300 400 500 700
//font-family: 'Hind', sans-serif; - text, w - 300 400
$mont: 'Montserrat', sans-serif;
$rale: 'Raleway', sans-serif;
