:root {
  --color-text-700: rgb(116, 116, 116);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-left-fade-enter-active,
.slide-left-fade-leave-active {
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.slide-left-fade-enter-from,
.slide-left-fade-leave-to {
  transform: translateX(-10rem);
  opacity: 0;
}

.slide-left-fade-enter-to,
.slide-left-fade-leave-from {
  transform: translateX(0rem);
  opacity: 1;
}

.slide-down-fade-enter-active,
.slide-down-fade-leave-active {
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.slide-down-fade-enter-from,
.slide-down-fade-leave-to {
  transform: translateY(3.2rem);
  opacity: 0;
}

.slide-down-fade-enter-to,
.slide-down-fade-leave-from {
  transform: translateY(0rem);
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.link {
  color: rgb(112, 219, 255);
  text-decoration: underline;
}

input,
textarea,
.btn {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  outline: none;
  border: none;
}

.btn {
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  display: block;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 15px;
  scrollbar-color: rgb(57, 57, 57) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(187, 167, 134);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(57, 57, 57);
  border-radius: 10px;
  border: 3px none rgb(57, 57, 57);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: rgb(18, 18, 18);
  font-size: 16px;
}

h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 48px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  line-height: 120%;
}

h3 {
  font-size: 24px;
  line-height: 120%;
}

.relative {
  position: relative;
}

.mt-s {
  margin-top: 20px;
}

.mt-m {
  margin-top: 40px;
}

.mt-l {
  margin-top: 60px;
}

.mt-xl {
  margin-top: 100px;
}

.mb-s {
  margin-bottom: 20px;
}

.mb-m {
  margin-bottom: 40px;
}

.mb-l {
  margin-bottom: 60px;
}

.mb-xl {
  margin-bottom: 100px;
}

.btn {
  line-height: 100%;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn-m {
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 12px;
}
.btn-sm {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
}
.btn-primary {
  background-color: rgb(52, 203, 254);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media (hover: hover) {
  .btn-primary:hover {
    background-color: #33c4f5;
  }
}
@media (hover: none) {
  .btn-primary:active {
    background-color: #33c4f5;
  }
}
.btn-primary:focus {
  outline: 1px solid #121212;
  background-color: #30b5e2;
}
.btn-primary:disabled {
  color: rgb(57, 57, 57);
  background-color: #4cd0fc;
}
.btn-secondary {
  background-color: rgb(187, 167, 134);
  outline: 1px solid rgb(248, 244, 237);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media (hover: hover) {
  .btn-secondary:hover {
    background-color: #b4a181;
  }
}
@media (hover: none) {
  .btn-secondary:active {
    background-color: #b4a181;
  }
}
.btn-secondary:focus {
  outline: 1px solid #121212;
  background-color: #a79578;
}
.btn-secondary:disabled {
  color: rgb(57, 57, 57);
  outline: 1px solid #f8f4ed;
}
.btn-secondary:disabled path {
  fill: #696865;
}
@media (hover: hover) {
  .btn-tertiary:hover {
    background-color: #dccfbc;
  }
}
@media (hover: none) {
  .btn-tertiary:active {
    background-color: #dccfbc;
  }
}
.btn-tertiary:focus {
  outline: 1px solid #121212;
  background-color: #cbbfae;
}
.btn-tertiary:disabled {
  color: rgb(57, 57, 57);
  outline: 1px solid #f8f4ed;
}
.btn-tertiary:disabled path {
  fill: #696865;
}/*# sourceMappingURL=main.css.map */