:root {
  --color-text-700: rgb(116, 116, 116);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-left-fade-enter-active,
.slide-left-fade-leave-active {
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.slide-left-fade-enter-from,
.slide-left-fade-leave-to {
  transform: translateX(-10rem);
  opacity: 0;
}

.slide-left-fade-enter-to,
.slide-left-fade-leave-from {
  transform: translateX(0rem);
  opacity: 1;
}

.slide-down-fade-enter-active,
.slide-down-fade-leave-active {
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.slide-down-fade-enter-from,
.slide-down-fade-leave-to {
  transform: translateY(3.2rem);
  opacity: 0;
}

.slide-down-fade-enter-to,
.slide-down-fade-leave-from {
  transform: translateY(0rem);
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.link {
  color: rgb(175, 61, 61);
  text-decoration: underline;
}

input,
textarea,
.btn {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  outline: none;
  border: none;
}

.btn {
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
  display: block;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 15px;
  scrollbar-color: rgb(165, 165, 165) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
  border: 3px none rgb(165, 165, 165);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: rgb(226, 226, 226);
  font-size: 16px;
}

h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 48px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  line-height: 120%;
}

h3 {
  font-size: 24px;
  line-height: 120%;
}

.relative {
  position: relative;
}

.mt-s {
  margin-top: 20px;
}

.mt-m {
  margin-top: 40px;
}

.mt-l {
  margin-top: 60px;
}

.mt-xl {
  margin-top: 100px;
}

.mb-s {
  margin-bottom: 20px;
}

.mb-m {
  margin-bottom: 40px;
}

.mb-l {
  margin-bottom: 60px;
}

.mb-xl {
  margin-bottom: 100px;
}

.btn {
  line-height: 100%;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn-m {
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 12px;
}
.btn-sm {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
}
.btn-primary {
  background-color: rgb(106, 24, 24);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media (hover: hover) {
  .btn-primary:hover {
    background-color: #6f2020;
  }
}
@media (hover: none) {
  .btn-primary:active {
    background-color: #6f2020;
  }
}
.btn-primary:focus {
  outline: 1px solid #e2e2e2;
  background-color: #783030;
}
.btn-primary:disabled {
  color: rgb(165, 165, 165);
  background-color: #641c1c;
}
.btn-secondary {
  background-color: rgb(30, 30, 30);
  outline: 1px solid rgb(56, 56, 56);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media (hover: hover) {
  .btn-secondary:hover {
    background-color: #262626;
  }
}
@media (hover: none) {
  .btn-secondary:active {
    background-color: #262626;
  }
}
.btn-secondary:focus {
  outline: 1px solid #e2e2e2;
  background-color: #363636;
}
.btn-secondary:disabled {
  color: rgb(165, 165, 165);
  outline: 1px solid #383838;
}
.btn-secondary:disabled path {
  fill: #a1a1a1;
}
@media (hover: hover) {
  .btn-tertiary:hover {
    background-color: #363636;
  }
}
@media (hover: none) {
  .btn-tertiary:active {
    background-color: #363636;
  }
}
.btn-tertiary:focus {
  outline: 1px solid #e2e2e2;
  background-color: #444444;
}
.btn-tertiary:disabled {
  color: rgb(165, 165, 165);
  outline: 1px solid #383838;
}
.btn-tertiary:disabled path {
  fill: #a1a1a1;
}/*# sourceMappingURL=main.css.map */