.btn {
	&:disabled {
		cursor: not-allowed;
	}
	line-height: 100%;

	&-m {
		padding: 16px 24px;
		font-size: 16px;
		border-radius: 12px;
	}

	&-sm {
		padding: 08px 12px;
		font-size: 14px;
		border-radius: 08px;
	}

	&-primary {
		background-color: $color-primary-500;
		@include ui-background-blur;

		@include hovered($color-text-100, $color-primary-500);

		&:focus {
			@include focused($color-text-100, $color-primary-500);
		}

		&:disabled {
			@include disabled-filled($color-primary-500);
		}
	}

	&-secondary {
		background-color: $color-bg-800;
		outline: 1px solid $color-bg-050;
		@include ui-background-blur;

		@include hovered($color-text-100, $color-bg-800);

		&:focus {
			@include focused($color-text-100, $color-bg-800);
		}

		&:disabled {
			@include disabled-outlined($color-text-100, $color-bg-050);
		}
	}

	&-tertiary {
		@include hovered($color-text-100, $color-bg-300);

		&:focus {
			@include focused($color-text-100, $color-bg-300);
		}

		&:disabled {
			@include disabled-outlined($color-text-100, $color-bg-050);
		}
	}
}
