.canvas {
	width: 1236px;
	aspect-ratio: 3 / 2;
	background: #fff;
	background-size: cover;
	margin: 60px auto;
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 0 auto;
	gap: var(--ui-films-gap, 20px) 40px;
	color: $color-text-100;
	line-height: 120%;

	@media (width < 1320px) {
		scale: 90%;
	}

	@media (width < 1220px) {
		scale: 75%;
	}

	@media (width < 1060px) {
		scale: 68.75%;
	}

	@media (width < 950px) {
		scale: 62.5%;
	}

	& > * {
		max-width: calc(33.333% - 27px);
	}

	&__header-wrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__header {
		font-size: 94px;
		text-align: left;
		text-transform: uppercase;
		font-weight: 900;
		line-height: 0.9;
	}

	&__date-period {
		font-size: 36px;
		line-height: 100%;
	}

	// single item
	&__day {
		position: relative;
		width: 100%;

		&.editable {
			background: repeating-linear-gradient(
				-45deg,
				rgba($color-primary-500, 0.1),
				rgba($color-primary-500, 0.1) 10px,
				transparent 10px,
				transparent 20px
			);
		}
	}

	&__date {
		position: relative;
		margin-bottom: 2px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__day-header {
		display: grid;
		grid-template-columns: 60% 20% 20%;
		margin-bottom: 2px;

		& input {
			background: linear-gradient(
				to top,
				$color-primary-200 0%,
				$color-primary-200 2px,
				transparent 2px
			);
			line-height: 120%;
		}
	}

	// icons
	&__icon {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 4px;
		flex: 1 1 auto;
	}

	&__day-of-week {
		font-weight: 700;
		display: inline-block;
		font-size: var(--ui-weekday-font-size, 28px);
		text-transform: uppercase;

		&.input {
			text-transform: uppercase;
		}
	}

	&__numeric-date {
		font-weight: 400;
		font-size: 18px;
		display: inline-block;
	}

	// single line
	&__item {
		position: relative;
		padding: var(--ui-film-title-padding, 2px) 0;
		display: grid;
		grid-template-columns: 5ch auto 1fr auto auto auto;
		gap: 4px;
		align-items: center;

		&:not(:last-child) {
			border-bottom: 1px solid rgba($color-text-100, 0.1);
		}

		& input {
			width: 100%;
			max-width: 100%;
		}

		& textarea {
			width: 100%;
			height: 100%;
			overflow: hidden;
			resize: none;
			transition: height 0.2s ease;
		}

		& input,
		& textarea {
			display: block;
			background: linear-gradient(
				to top,
				rgba($color-text-100, 0.15) 2px,
				transparent 2px
			);
		}

		& input[type='checkbox']:focus {
			outline: 2px solid $color-primary-500;
		}
	}

	&__item.editable {
		grid-template-columns: 5ch auto 1fr 6ch auto 5ch;
	}

	&__no-films {
		grid-column: 1 / -1;
	}

	&__time {
		display: flex;
		color: $color-text-100;
		font-weight: 300;

		&.editable {
			input {
				flex: 1 1 auto;
				text-align: center;
			}
		}
	}

	&__time-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__name-wrapper {
		width: 100%;
		min-width: 100%;
	}

	&__name {
		line-height: 1.2;
		font-size: var(--ui-film-font-size, 18px);
	}

	&__techincal-info {
		display: flex;
		flex: 1 1 auto;
		padding: 0 3px;
		gap: 3px;
	}

	&__age {
		font-size: 16px;
		border: 1px solid $color-text-100;
		color: $color-text-100;
		padding-left: 4px;
		padding-right: 3px;
		display: flex;
		align-items: center;

		span {
			font-size: 0.6875em;
		}
	}

	&__p-card {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 900;
		padding: 0 3px;
		color: $color-contrast;
		background-color: $color-secondary-100;
	}

	&__price {
		font-weight: 300;
		display: flex;
		justify-content: flex-end;
		flex-wrap: nowrap;

		&::after {
			content: ' \20BD';
		}
	}

	&__item:hover &__actions-wrapper {
		scale: 1;

		button {
			scale: 1;
		}
	}

	&__actions-wrapper {
		position: absolute;
		left: calc(100% + 2px);
		background: transparent;
		border-radius: 8px;

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		padding: 12px;
		z-index: 20;

		scale: 0;
		transform-origin: left center;
		transition: ease-in 0.1s scale;

		& button {
			width: 36px !important;
			height: 36px !important;

			scale: 0;
			transform-origin: left center;
			transition: ease-in 0.15s scale;
			transition-delay: 0s;
		}

		@for $i from 1 through 3 {
			.canvas__item-btn-wrapper:nth-child(#{$i}) button {
				transition-delay: $i * 0.05s;
			}
		}
	}

	&__last-day-btns-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		display: flex;
		justify-content: center;
		transform-origin: top;
		transform: rotateX(90deg);
		opacity: 0;
		z-index: 20;

		transition: ease-in-out 0.15s transform, ease-in-out 0.15s opacity;
	}

	&__last-day-btn {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	&__day.editable:hover .canvas__last-day-btns-wrapper {
		transform: rotateX(0deg);
		opacity: 1;
	}
}
