.canvas {
	width: 1236px;
	aspect-ratio: 3 / 2;
	background: #fff;
	background-size: cover;
	margin: 60px auto;
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px 40px;

	& > * {
		max-width: calc(33.333% - 26px);
	}

	&__header {
		font-size: 94px;
		text-align: left;
		text-transform: uppercase;
		font-weight: 900;
		line-height: 0.9;
	}

	&__empty-col {
		height: 100%;
		width: 100%;
		outline: 1px dashed $color-primary-900;
	}

	// icons
	&__icon {
		position: absolute;
		right: 20px;
		top: 10px;
		display: flex;
		gap: 10px;

		&-add {
			color: $color-success-200;
			cursor: pointer;
		}

		&-remove {
			color: #ff3d00;
			cursor: pointer;
		}
	}

	// single item
	&__day {
		// width: 45%;
	}

	&__date {
		position: relative;
		text-align: left;
		padding: 5px 20px 5px;
		border-radius: 10px 10px 0 0;
		background-color: #fff;
		border-bottom: 1px solid black;

		& input {
			display: inline-block;
			width: 50%;
			background: linear-gradient(
				to top,
				$color-success-200 0%,
				$color-success-200 5%,
				transparent 5%
			);
			font-weight: 700;
		}
	}

	&__day-of-week {
		font-weight: 700;
		display: inline-block;
		font-size: 19px;
		text-transform: uppercase;

		&::after {
			content: '·';
			opacity: 0.6;
			padding: 0 10px;
		}

		&.input {
			width: 25%;
			text-transform: uppercase;
		}
	}

	&__numeric-date {
		font-weight: 700;
		opacity: 0.8;
		display: inline-block;

		&.input {
			width: 60%;
		}
	}

	// single line
	&__item {
		padding: 3px 10px;
		display: grid;
		grid-template-columns: 55px 1fr 55px;
		align-items: center;
		background-color: $color-contrast;
		&:not(:last-child) {
			border-bottom: 1px solid rgba($color-secondary-500, 0.4);
		}

		& input {
			width: 50%;
		}
	}

	&__time {
		display: flex;
		color: #ff3d00;
	}

	&__hours {
		&::after {
			content: ':';
			padding: 0 2px;
		}
	}

	&__name {
		display: flex;
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		max-width: 80%;

		& input {
			width: 80%;
		}
	}

	&__age,
	&__p-card {
		display: block;
		font-weight: 700;
		align-self: center;
		margin-left: 8px;
	}

	&__age {
		font-size: 0.6em;

		border: 1px solid $color-text-100;
		border-radius: 10px;
		color: $color-text-100;
		padding: 0px 6px;

		& input {
			width: 20%;
		}
	}

	&__p-card {
		font-size: 0.75em;
		background-color: $color-success-200;
		color: $color-contrast;
		padding: 1px 4px;
	}

	&__price {
		text-align: center;

		&::after {
			content: ' \20BD';
		}
	}
}
