.empty {
	height: 50%;
	width: 100%;
	transition: 0.15s ease-in-out height;

	&.editable {
		outline: 1px dashed $color-primary-900;
	}

	&__btns-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	&__desc {
		color: $color-text-700;
		font-size: 16px;
		padding: 8px 12px 4px 12px;
		max-height: 200px;
		transform: rotateX(0deg);

		transition: 0.15s ease-in-out max-height, 0.15s ease-in-out transform;

		&.compact {
			max-height: 0;
			transform: rotateX(90deg);
			padding: 0;
		}
	}

	&__btn {
		margin-top: 8px;

		&.compact {
			margin-top: 0;
			height: 28px !important;
		}
	}
}
