.info {
	&__wrapper {
		flex: 1 1 auto;
		justify-content: flex-end;
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 18px;
	}

	&__phone-address-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__phone {
		font-weight: 700;
	}

	&__socials {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4px;
		font-size: 16px;
	}

	&__social-item {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;

		&--single {
			grid-column: 1 / -1;
		}
	}

	&__pCard-wrapper {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&__pCard-desc {
		font-weight: 300;
		font-size: 16px;
	}
}
