.canvas {
	// info
	position: relative;
	&__info {
		width: 491.5px;
		position: absolute;
		background: $color-white;
		padding: 10px;

		&.bottom {
			bottom: 2%;
			left: calc(50% + 11.5px);
			transform: translateX(-50%);
		}

		&.right {
			bottom: 2%;
			right: 2%;
		}
	}

	&__info-header {
		font-size: 19px;
		text-align: center;
		margin-bottom: 05px;
	}

	&__info-link {
		display: flex;
		align-items: center;
		gap: 05px;
	}

	&__info-links {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 05px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__info {
		&-tel,
		&-location {
			text-align: center;
		}
	}
}

.info {
	&__controls {
		position: absolute;
		top: 05px;
		left: 10px;
		display: flex;
		gap: 10px;
	}

	&__control-btn {
		cursor: pointer;
		background-color: rgba($color-white, 0.95);
		border: 1px solid $color-text-100;
		padding: 05px 08px;
		border-radius: 05px;

		&:nth-child(2) {
			padding: 05px 07px 05px 09px;
		}

		&.active {
			background-color: $color-success-200;
		}
	}

	&__legend {
		display: flex;
	}
}
