.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	& .v-navigation-drawer__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__upper-part {
		flex: 1 1 auto;
	}

	&__bottom-part {
		flex: 0 0 auto;
	}
}
