.opt {
	position: fixed;
	background-color: $color-contrast;
	width: 300px;
	top: 60px;
	right: 80px;
	z-index: 30;
	padding: 16px;
	border-radius: 8px;
	max-height: 80dvh;
	overflow-y: auto;

	&__close {
		position: absolute;
		top: 4px;
		left: 4px;
		cursor: pointer;
	}

	&__header {
		padding: 0 12px;
		text-align: center;
	}

	&__desc {
		margin-top: 4px;
		text-align: center;
		font-weight: 300;
		color: $color-text-700;
	}

	&__inputs-block {
		margin-top: 32px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__inputs-element {
		display: flex;
		flex-direction: column;
	}

	&__inputs-wrapper {
		display: grid;
		grid-template-columns: 10fr 2.5ch 0.75fr 3ch;
		gap: 8px;

		& input[type='checkbox'] {
			align-self: flex-end;
			transform: translateY(-4px);
			width: 100%;
			aspect-ratio: 1 / 1;

			&:focus-visible {
				outline: 2px solid $color-primary-500;
			}
		}
	}

	&__btn {
		margin-top: 32px;
	}
}
