#header-toggle {
	color: $color-white;
}

#header-toggle.hidden {
	color: $color-text-100;
}

#header-editable.toggle {
	color: $color-success-200;
	// background: radial-gradient(green, transparent 70%);
}

.sidemenu {
	&__items {
		position: absolute;
		left: 40px;
		top: 16px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		font-size: 19px;
		z-index: 30;
	}
}
