#header-toggle {
	color: $color-white;
}

#header-toggle.hidden {
	color: $color-text;
}

#header-editable.toggle {
	color: $color-edit;
	// background: radial-gradient(green, transparent 70%);
}

.sidemenu {
	&__items {
		position: absolute;
		right: 3rem;
		top: 1.6rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		font-size: 1.9rem;
		z-index: 30;
	}
}
